.header{
    position: absolute;
    z-index: 10;
}
.navbar {
padding: 20px 0;
}
.navbar-brand {
font-weight: 800;
text-transform: uppercase;
font-size: 2em;
}
.nav-item{
    font-size: 8000;
}


.banner
{
    position: relative;
    background: url(https://i.ibb.co/mNwDsLq/image-7.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}




